<p id="notice"><%= notice %></p>

<div class="row-fluid" align="center">
	<h2 style="line-height: 20px; text-transform: uppercase;">Current Schedule</h2>
	<h5>Last Updated: <%= @es[2,5] %></h5>
</div>

<p></p>
<div class="row-fluid" align="center">
	<%= image_tag @url %>
</div>